
/* core style changes needed for a semi-decent RTL experience */
.formSection,
.selectionBoxRow
{
    direction: rtl;
}


#selectionBox {
    float: right;
    padding-right: 20px;
}

/* this selector works on chrome only, but didn't want a more intrusive selector that could affect other apps */ 
.page:has(.formSection) {
    direction: rtl;
}

/* end core style changes */

/*
    these are styles from the data entry app (https://github.com/dhis2/dhis2-core/blob/master/dhis-2/dhis-web/dhis-web-dataentry/src/main/webapp/dhis-web-dataentry/style/dhis-web-dataentry.css)
    converted using https://rtlcss.com/playground/#
*/
#currentSelection
{
    padding: 6px;
    background-color: #eee;
    border: 1px solid #bbb;
    text-align: left;
    position: fixed;
    top: 55px;
    left: 20%;
    filter: alpha(opacity=85);
    opacity: 0.85;
    border-radius: 3px;
    z-index: 5;
    width: 400px; /* this is different from what LTR does but it's a work around for the fact that this component doesn't have a parent and if we change it to be on the right, then it takes the whole screen width */
}

#actions
{
  float: left;
  width: 160px;
  text-align: left;
}

#closeCurrentSelection
{
  float:right;
  cursor:pointer;
  margin-left:5px;
}

.currentRow
{
  padding-left: 50px;
}

.formSection td
{
  padding-left: 1px;
  padding-right: 1px;
  height: 28px;
  white-space: nowrap;
}

.entryarea
{
  text-align: right;
}

.commentlink
{
  padding-right: 3px;
}


/* History audit table */

#historyAuditTable
{
    text-align: right;
}


#historyAuditTable td, #historyAuditTable th
{
    padding-right: 10px;
}


#historyTabs-chart
{
    padding-right: 0;
}

.upload-progress-info
{
    right: 45%;
}


.upload-fileinfo-size
{
    float: left;
    text-align: left;
    padding-right: 3px;
    overflow: hidden;
    text-overflow: ellipsis;
}

.upload-button
{
    margin: 1px 4px 2px 2px;
    height: 100%;
}

/* FA icons for jQuery UI icon hack */
/* todo: check in UI */
/* .ui-icon[class*=" fa-"] {
    background: none repeat scroll 100% 0 transparent;
    text-indent: 0;
    margin-top: -0.5em;
}

.ui-button-icon-only .ui-icon[class*=" fa-"] {
    margin-right: -7px;
} */


#fileDeleteConfirmationDialog .fa
{
    margin-left: 5px;
}
